* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    gap: 30px;
    height: 100vh;
}

.app-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
    background-color: #ffffffbc;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0000005e;
}

.location-info, .temp-info, .condition, .humidity {
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.location-container {
    width: 50%;
}

.location-info {
    box-shadow: 2px 2px 3px #00000042;
}

.weather-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.weather-container {
    display: flex;
    gap: 10px;
}

@media only screen and (max-width: 768px) {
    .weather-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.temp-humid-container {
    display: flex;
    gap: 10px;
}

.temp-humid-container > * {
    align-content: center;
}

.forecast-info {
    display: flex;
    gap: 20px
}

.forecast-info > div {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.current-container, .forecast-container {
    text-align: center;
    box-shadow: 0px 0px 3px #000000;
    padding: 20px;
    border-radius: 10px;
}

.current-container > h2, .forecast-container > h2 {
    background-color: #2e2444;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.condition-image {
    width: 500px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #000000;
}

input {
    border: 1px solid #00000048;
    height: 30px;
    font-size: 1rem;
    border-radius: 15px;
    padding-left: 10px;
    box-shadow: inset 2px 2px 3px #0000003b;
}

button {
    border: none;
    box-shadow: 2px 2px 3px #0000003b;
    border-radius: 15px;
    padding: 5px 15px;
    font-size: 1rem;
    background-color: #4b4b4b;
    color: white;
}

.toggle {
    background-color: #2e2444;
    color: white;
}

button:active {
    box-shadow: inset 2px 2px 3px #0000003b;
}

.toggle:active {
    box-shadow: inset 2px 2px 3px #e3e3e398;
}

.credit {
    text-shadow: 0px 0px 3px #ffffffc8;
    background-color: #ffffff34;
    box-shadow: 0px 0px 10px #ffffff34;
    padding: 2px 10px;
}